* {
  box-sizing: border-box;
}

body {
  font-family: $Calibre;
  font-size: 20px;
  background-color: $background;
  color: $font-primary;
  margin: 0;
  line-height: 1.25;

  -webkit-font-smoothing: antialiased;

  @include onPhablet { font-size: 18px; }
  @include onTablet { font-size: 15px; }
}

a {
  position: relative;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  text-decoration-skip-ink: auto;
}

button {
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  border-radius: 0px;
}
