$background: rgb(255, 255, 255);

$font-primary: rgb(10, 25, 47);
$font-secondary: rgb(78, 82, 94);

$animate: cubic-bezier(0.645, 0.045, 0.355, 1);

$Calibre: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif;
$SFMono: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;

@mixin onGiant {
  @media (max-width: 90em) {
    @content;
  }
}

@mixin onDesktop {
  @media (max-width: 62.6em) {
    @content;
  }
}

@mixin onTablet {
  @media (max-width: 48em) {
    @content;
  }
}

@mixin onTobile {
  @media (max-width: 37.5em) {
    @content;
  }
}

@mixin onPhablet {
  @media (max-width: 30em) {
    @content;
  }
}

@mixin onMobile {
  @media (max-width: 23.5em) {
    @content;
  }
}
